<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="shortcut icon" href=""> -->
  <title>{{.title}}</title>
</head>
<body>
  <h1>{{.title}}</h1>
  <form action="/new" method="POST">
    <label for="originURL">Your URL</label>
    <input type="url" name="inputURL" id="originURL" value="">
    <button type="submit" class="btnSubmit">send</button>
  </form>
  {{ if .success }}
    <div class="alert alert-success" role="alert">
        {{ .success }}
    </div>
  {{ end }}
  {{if .error}}
    <div class="alert alert-danger" role="alert">
        {{ .error }}
    </div>
  {{end}}
  <!-- <p>{{.Content}}</p> -->
</body>
</html>
