body {
  text-align: center;
}

button {
	/* box-shadow:inset 0px 1px 3px 0px #91b8b3; */
	/* background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%); */
	background-color:#fafafa;
	border-radius:10px;
  /* border-width:4px; */
	border:2px solid #cccccc;
	display:inline-block;
	cursor:pointer;
	/* color:#000000; */
	font-family:Arial;
	font-size:15px;
	/* font-weight:bold; */
	padding:3px 6px;
	text-decoration:none;
  margin: 15px;
}
button:hover {
	/* background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%); */
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}

.url-box {
  font-size:16px; 
  border-color:#cccccc; 
  padding:8px; 
  border-width:4px; 
  border-radius:10px; 
  border-style:solid; 
  background-color:#fafafa;  
  margin-bottom: 20px;
}

#short-box {
	font-size: 1.5em;
}
